<div class="message">
  <li class="self">
  <div class="avatar"><%= image_tag(check_avatar(message.user, 'thumb')) %></div>
  <div class="msg">
    <p><%= link_to "@#{message.user.username}:", user_path(message.user.username), style:'color:black' %></p>
    <p><%= sanitize(message.content) %></p>
    <time><%= message.created_at %></time>
  </div>
  </li>
</div>