<div class="message">
  <li class="left clearfix">
    <span class="chat-img pull-left">
     <%= image_tag(check_avatar(message.user, 'thumb'), class:'media-object', style: 'width:40px; height:40px; border-radius: 20px;') %>
    </span>
    <div class="chat-body clearfix" style="margin-top: -30px; width: 900px">
      <div class="header">
        <strong class="primary-font"><%= link_to "@#{message.user.username}", user_path(message.user.username), style:'color:black' %></strong>
        <small class="pull-right text-muted"><%= message.created_at %>
        </small>
      </div>
      <p><%= message.content %></p>
    </div>
  </li>
</div>