<div class="media-body">
  <div class="media">
    <a class="pull-left" href="#">
      <%= image_tag(check_avatar(message.user, 'thumb'), class:'media-object') %>
    </a>
    <div class="media-body">
      <%= message.content %>
      <br>
      <small class="text-muted">
        @<%= link_to message.user.username, user_path(message.user.username), style:'color: dimgrey' %> |
        <%= message.created_at %>
      </small>
    </div>
  </div>
</div><hr>