# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 16d1c743757f6afc5a23a3dad6ddd69801b0732b5a2fecc8546458c47ba7b38cef1372aa045301c35938720cfb15d69672dc1ec71583b7f87b321c0823ca55a0

test:
  secret_key_base: 5a32ef3d1162f85782d2c66db7996295b63dfffbb3cceb0e58be13493544d05c569ec26c279bd79177bdf0787ede5014b8ff018fd135ad844b9f2b20ed61ff80

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
